.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.menu-active {
  color: #00a650 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  width: 120px;
height: 120px;
}
#logo {
vertical-align: left;
width: 50px;
height: 50px;
text-align: left;
}

.nav>li>a:hover {
  background-color: none;
  color: red;
}

.btn-sign{
  color: #fffcec !important; 
  background-color: #eb593c;
}
/*no background*/
.no-bg {
  /*color: #000000;*/
  border: solid 1px #fffcec;
  background-color: transparent;
  padding: 5px;
  
}
.alignCenter{
  text-align: center;
  height: 100%;
}

.no-bg:hover {
  color: #eb593c;
}
.container-fluid {
  width: 100%;
}

.mt15 {
  margin-top: 15px;
}
.mt60 {
  margin-top: 60px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.pd-bot10 {
  padding-bottom: 10px;
}
.mg-right50{
  margin-right: 50px;
}

.btn-menu {
  width: 120px;
  font-size: 16px;
  padding: 13px;
  float: right;
     margin-right: 10px;
     color: #000

}

.pd-top60 {
  padding-top: 60px;
}

.App-link {
  color: #61dafb;
}

.menu {
  font-size: 16px;
  width: 100%;
}
.bar {
  /*height: 200px;*/
  background-color: #042E29
}


.menuactive {
  font-color: #eb2f06;
}

.my-link {
  margin-right: 10px;
  margin-left: 20px;
   color: #000;
   font-size:16px;
   font-weight: 400 !important;
   background-color: transparent !important;
}

.navbar-nav>li:hover>a {
  color: #eb2f06 !important;
  text-decoration: none !important;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input::-webkit-input-placeholder {
color: #95a5a6 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #95a5a6 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #95a5a6 !important;  
}
 
input:-ms-input-placeholder {  
color: #95a5a6 !important;  
}
.a-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.wrapper {
height: 100%;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

    .sidebar.active {
        margin-left: -200px;  
    }

.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  width: 200px;
  margin-left: 0px;
  color: #fff;
  background: black;
    /* don't forget to add all the previously mentioned styles here too */
    /*background: #7386D5;*/
    color: #fff;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: black;
    color: #000;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul p {
    color: #000000;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li > a, a[aria-expanded="true"] {
    color: white;
    background: black;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
.mainmenu a:hover {
    background-color: #C5C5C5;
}
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu a {
  background-color: #999;
}
.submenu a:hover {
  background-color: #666;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
.menubutton {
  background-color: transparent !important; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

